/*
 * SPDX-License-Identifier: Apache-2.0
 */

 / {
    motors: motors {
        compatible = "pwm-motors";
        backL: backL {
            pwms = <&pwm1 1 0 PWM_POLARITY_NORMAL>;
        };
        frontR: frontR {
            pwms = <&pwm2 2 0 PWM_POLARITY_NORMAL>;
        };
        frontL: frontL {
            pwms = <&pwm3 3 0 PWM_POLARITY_NORMAL>;
        };
        backR: backR {
            pwms = <&pwm4 4 0 PWM_POLARITY_NORMAL>;
        };
    };

    status-leds {
        compatible = "pwm-leds";
        reds: reds {
            pwms =  <&pwm5 1 0 PWM_POLARITY_NORMAL>,
                    <&pwm6 2 0 PWM_POLARITY_NORMAL>,
                    <&pwm7 3 0 PWM_POLARITY_NORMAL>,
                    <&pwm8 4 0 PWM_POLARITY_NORMAL>;
        };
    };

    joystick {
        compatible = "uart-microblue-app";
        uart = <&usart3>;
    };
};

&usart2 {
    status = "disabled";
};

&usart3 {
    current-speed = <38400>;
};

// The original pwm1 define in the timers1 node is not needed.
/delete-node/ &pwm1;

&timers3 {
    status = "okay";

    pwm1: pwm1 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim3_ch1_pwm_out_pa6>;
        pinctrl-names = "default";
    };

    pwm2: pwm2 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim3_ch2_pwm_out_pa7>;
        pinctrl-names = "default";
    };

    pwm3: pwm3 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim3_ch3_pwm_out_pb0>;
        pinctrl-names = "default";
    };

    pwm4: pwm4 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim3_ch4_pwm_out_pb1>;
        pinctrl-names = "default";
    };
};

&timers2 {
    status = "okay";

    pwm5: pwm5 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim2_ch1_pwm_out_pa0>;
        pinctrl-names = "default";
    };

    pwm6: pwm6 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim2_ch2_pwm_out_pa1>;
        pinctrl-names = "default";
    };

    pwm7: pwm7 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim2_ch3_pwm_out_pa2>;
        pinctrl-names = "default";
    };

    pwm8: pwm8 {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim2_ch4_pwm_out_pa3>;
        pinctrl-names = "default";
    };
};
